<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#008000"
            hidden="false"
            name="XLS Formatter"
            objectClass="com.continental.knime.xlsformatter.porttype.XlsFormatterState"
            objectSerializer="com.continental.knime.xlsformatter.porttype.XlsFormatterStateSerializer"
            specClass="com.continental.knime.xlsformatter.porttype.XlsFormatterStateSpec"
            specSerializer="com.continental.knime.xlsformatter.porttype.XlsFormatterStateSpecSerializer">
      </portType>
   </extension>
   <extension
         id="contiCategories"
         name="Conti Categories"
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/continental.png"
            level-id="continental.nodes.for.knime"
            name="Continental"
            path="/community">
      </category>
      <category
            icon="icons/xlsformatter.png"
            level-id="xlsformatter"
            name="XLS Formatter"
            path="/community/continental.nodes.for.knime/">
      </category>
      <category
            icon="icons/controltable.png"
            level-id="controltable"
            name="Control Table"
            path="/community/continental.nodes.for.knime/xlsformatter/">
      </category>
      <category
            icon="icons/formatter.png"
            level-id="formatter"
            name="Formatter"
            path="/community/continental.nodes.for.knime/xlsformatter/">
      </category>
   </extension>

   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.fontformatter.XlsFormatterFontFormatterNodeFactory"
            id="com.continental.knime.xlsformatter.fontformatter.XlsFormatterFontFormatterNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.cellformatter.XlsFormatterCellFormatterNodeFactory"
            id="com.continental.knime.xlsformatter.cellformatter.XlsFormatterCellFormatterNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.sheetproperties.XlsSheetPropertiesNodeFactory"
            id="com.continental.knime.xlsformatter.sheetformatter.XlsFormatterSheetFormatterNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.sheetselector.XlsSheetSelectorNodeFactory"
            id="com.continental.knime.xlsformatter.sheetselector.XlsFormatterSheetSelectorNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.portmerger.XlsPortMergerNodeFactory"
            id="com.continental.knime.xlsformatter.portmerger.XlsPortMergerNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.rowcolumnsizer.XlsRowColumnSizerNodeFactory"
            id="com.continental.knime.xlsformatter.rowcolumnsizer.XlsRowColumnSizerNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.cellbackgroundcolorizer.XlsFormatterCellBackgroundColorizerNodeFactory"
            id="com.continental.knime.xlsformatter.cellbackgroundcolorizer.XlsFormatterCellBackgroundColorizerNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.borderformatter.XlsFormatterBorderFormatterNodeFactory"
            id="com.continental.knime.xlsformatter.borderformatter.XlsFormatterBorderFormatterNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.cellmerger.XlsFormatterCellMergerNodeFactory"
            id="com.continental.knime.xlsformatter.cellmerger.XlsFormatterCellMergerNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.apply.XlsFormatterApplyNodeFactory"
            id="com.continental.knime.xlsformatter.apply.XlsFormatterApplyNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/controltable/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.xlscontroltablegenerator.XlsControlTableGeneratorNodeFactory"
            id="com.continental.knime.xlsformatter.derivexlscontroltable.XlsControlTableGeneratorNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/controltable/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.xlscontroltablefromcellrange.XlsControlTableFromCellRangeNodeFactory"
            id="com.continental.knime.xlsformatter.cellrangetoxlscontroltable.XlsControlTableFromCellRangeNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/controltable/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.xlscontroltablemerger.XlsControlTableMergerNodeFactory"
            id="com.continental.knime.xlsformatter.xlscontroltablemerger.XlsControlTableMergerNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.conditionalformatter.XlsFormatterConditionalFormatterNodeFactory"
            id="com.continental.knime.xlsformatter.conditionalformatter.XlsFormatterConditionalFormatterNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.commenter.XlsFormatterCommenterNodeFactory"
            id="com.continental.knime.xlsformatter.commenter.XlsFormatterCommenterNodeFactory">
      </node>
      <node
            category-path="/community/continental.nodes.for.knime/xlsformatter/formatter/"
            deprecated="false"
            factory-class="com.continental.knime.xlsformatter.hyperlinker.XlsFormatterHyperlinkerNodeFactory"
            id="com.continental.knime.xlsformatter.hyperlinker.XlsFormatterHyperlinkerNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.product.splashExtension">
      <splashExtension
            icon="icons/conti48.png"
            icon24="icons/conti24.png"
            icon32="icons/conti32.png"
            id="com.continental.knime.splashExtension"
            tooltip="Continental Nodes for KNIME">
      </splashExtension>
   </extension>
   
</plugin>
